.accordian{
    font-family: "Montserrat", sans-serif;
    padding: 4rem 4rem;
    display: flex;
    justify-content: space-between;
    gap:8%;
}
.accordian .qa{
    text-align: center;
    display: inline-block;
    color: #D9A365;
font-family: "Encode Sans Semi Expanded";
font-size: 0.850rem;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.30625rem;
text-transform: uppercase;
border-radius: 1.5rem;
background: #d9a36518;
backdrop-filter: blur(10px);
padding: 10px 25px;
margin-bottom: 15px;

}
.accordian .header2{
    color: #272535;
    margin-bottom: 15px;
}
.qa-exp{
    color: #23212E;
font-family: Montserrat;
font-size: 0.875rem;
font-style: normal;
font-weight: 500;
line-height:1.7rem;
letter-spacing: 0.035rem;
}
.accordian-col{
    
    flex: 1;
}

.accordion-item {
  
    border-bottom: 1px solid #ddddddb4;
    overflow: hidden;
    padding: 10px 0px;
    margin-bottom: 10px;
}
.accordion-header h3{
    color: #2C2E33;
    font-weight: normal;
    font-size: 1rem;;

}
.accordion-header span{
    color: #000;
    font: 14px;
}
.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
   
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.accordion-content {
    font-family: "Encode Sans Semi Expanded";
    line-height: 1.5rem;
    max-height: 0;
    overflow: hidden;
    padding: 0 10px;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.accordion-content.active {
    max-height: 1000px; 
    padding: 10px;
    opacity: 1;
}

.accordion-content div {
    padding: 10px 0;
    background-color: #fff;
    transition: all 0.3s ease;
}
