.exprience-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 3rem;
}

.counter-container {
    width:60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .exprence-content{
    padding-left: 50px;
    width: 34%;
  }
  
  .counter-item {
    text-align: center;
    border: 2px solid #cc883560; /* Border color */
    border-radius: 10px; /* Optional: to round the corners */
    padding: 20px;
    position: relative;
    width: 220px;
  }
  
  .counter-item::before
  {
    content: "";
    z-index: 999;
    position: absolute;
    height: 3px;
    width:35%;
    background-color: #ffffff;
    top: -2%;
    left: 33%;
  }
  .counter-item::after{
    content: "";
    z-index: 999;
    position: absolute;
    height: 3px;
    width:35%;
    background-color: #ffffff;
    bottom: -2%;
    left: 33%;

  }
 .counter-number {
    color: #CC8835;
    font-family: "Montserrat", sans-serif;
font-size: 2.4375rem;
font-style: normal;
font-weight: 400;
line-height: normal;
  }
  
  .counter-text {
    color: #554F49;text-wrap: nowrap;
    font-family: "Montserrat", sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.0175rem;
  }
  .exprence-content p{
    color: #CC8835;
font-family: "Encode Sans Semi Expanded";
font-size: 0.6875rem;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.2475rem;
text-transform: uppercase;
margin-bottom: 15px;
  }
  .exprence-content h3{
    color: #302B27;
font-family: Montserrat;
font-size: 1.9375rem;
font-style: normal;
font-weight: 300;
line-height: normal;
letter-spacing: 0.01938rem;
  }
  .hr{
       width: 92%;
   height: 1px;
  background-color: #2927374d;
  margin: 10px auto;
  }
  @media screen and (max-width:900px){
    .exprience-row{
        display: flex;
        flex-direction: column;
        padding: 2rem 1rem;
    }
    .counter-container {
        width:100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
      }
      .exprence-content{
        padding-left: 0px;
        margin-top: 3rem;
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
      }
  }
  @media screen and (max-width:400px){
    .counter-container {
        width:100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: center;
        align-items: center;
              
      }
      .exprence-content h3{
        font-size: 1.5rem;
      }
  }