:root{
  --yellow:#CC8835;
  --black:#000;
  --white:#fff;
  --rose:#4F0B30;
  --lightblack:color: #3B352E;
}
*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  
}
html{
  overflow-x: hidden;
}
body{
  overflow-x: hidden;
 box-sizing: border-box;
}
nav, section, header, footer, main {
  overflow-x: hidden; 
}
/*---button code-----*/
.btn1{
  width: 97%;
    margin-top: 25px;
    font-family: "Montserrat", sans-serif; 
    background-color: #D9A264;
    border-radius: 1.8125rem;
    border: none;
    font-size: 1rem;
    padding: 15px 32px;
    color: #FAFAFA;
    cursor: pointer;
    position: relative;
}
.btn1 span{
  padding: 12px 11px 8px 12px;
  color: #fff;
  background: #edc79d96;
  margin-left: 33px;
  border-radius: 41px;
  position: absolute;
  right: 7px;
  top: 3px;
}
/*---btn2---*/
.btn2{
 
  font-size: 0.875rem;
            font-family: "Encode Sans Expanded";
       border-radius: 1.8125rem;
    border: none;
     padding: 10px 35px;
    color: #FAFAFA;
    cursor: pointer;
    position: relative;
  text-align: left;
background: rgba(23, 23, 23, 0.70);
backdrop-filter: blur(14.199999809265137px);
}
.btn2 span{
  vertical-align: middle;
  padding: 5px 8px;
  color: #fff;
  background: #3a3a3975;
  margin-left: 33px;
  border-radius: 41px;
  position: absolute;
  right: 7px;
  top: 3px;
}


.header2{
  color: #DF9843;
  font-size: 2rem;
  font-style: normal;
  font-weight: 300;
  letter-spacing: -0.03125rem;
  font-family: "Montserrat", sans-serif;
}
.header2 span{
  color: #42353C;
}
@media screen and (max-width:400px) {
  .header2{
    font-size: 1.8rem;
  }

}